@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f3f0;
  --foreground: #232121;
  --border-color: #cdcbcb;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #232121;
    --foreground: #f5f3f0;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

::-webkit-scrollbar {
  display: none;
}
